@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
	font-family: Inter;
	src: url("/inter.woff2");
}

@font-face {
	font-family: MADE;
	src: url("/made extrabold.otf");
}

:root {
	@apply bg-neutral-100 text-neutral-900;

	font-family: Inter, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	user-select: none;
}

html {
	margin: 12px;
}

body {
	margin: 0px;
}

h1,
h2,
h3 {
	margin: 0px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

input[type="text"] {
	height: 18px;
	border: 1px solid black;
}

label:has(input[type="checkbox"]) {
	width: fit-content;
	cursor: pointer;
}

input[type="color"] {
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid black;
	width: 22px;
	height: 22px;
	padding: 1px;
	cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

button {
	width: min-content;
}

.badge-selector {
	height: 22px;
	width: 22px;
	background-color: #dbdbdb;
	cursor: pointer;
	outline: none;
	border: 0;
}

.badge-selector[src] {
	background-color: transparent !important;
}

input[type="range"] {
	max-width: 50%;
	cursor: pointer;
}

.transparent-image {
	background-image: url("/transparent.png");
	background-position: center;
	background-size: 22px;
	image-rendering: pixelated;
}

/* .seventv-user-message.has-highlight[data-highlight-style="0"] .seventv-chat-message-highlight-label[data-v-43cb0e29]::after {
	height: 0;
	content: attr(data-highlight-label);
	display: grid;
	width: 100%;
	justify-content: end;
	color: var(--seventv-highlight-color);
	transform: translateY(-1.5em);
	font-weight: 600;
	text-transform: uppercase;
	font-size: .88rem;
} */

#preview {
	position: relative;
	background-color: #18181b;
	outline: 1px solid black;
	flex-grow: 1;
	user-select: text;

	#preview-background-container {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		> * {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}
	}

	#preview-message-container {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		overflow: hidden;

		paint-order: stroke fill;

		#preview-message {
			position: absolute;

			font-family: Inter;
			font-size: 14px;
			font-weight: 400;
			display: flex;
			align-items: center;
			width: max-content;
			height: max-content;

			&.preview-message-highlight {
				border: 2px solid #c832c8;
				border-top: none;
				border-bottom: none;
				margin: 0px -2px;
				padding: 0px 17.5px;
			}

			&.preview-message-highlight::after {
				content: "first message";
				position: absolute;
				top: -3px;
				right: 18px;
				color: #c832c8;
				font-family: Inter;
				font-weight: 600;
				font-size: 6.5pt;
				text-transform: uppercase;
			}

			&.preview-message-highlight #preview-message-highlight-background {
				background-color: #c832c81a;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0px;
				top: 0px;
			}

			#preview-message-content {
				line-height: 22px;
				overflow-wrap: break-word;

				box-sizing: border-box;
				padding: 10px 0px;

				z-index: 2;

				#preview-message-author {
					font-weight: 700;
				}

				#preview-message-body {
					display: inline-flex;
					gap: 4px;
					align-items: center;

					img {
						height: 28px;
						margin: -999px 0px;
					}
				}
			}

			#preview-message-badges {
				width: min-content;
				display: inline-flex;
				vertical-align: middle;
				margin-right: -4px;

				img {
					width: 18px;
					height: 18px;
					margin: 0px 3px 2px 0px;
				}
			}
		}
	}
}
