@font-face {
	font-family: Inter;
	src: url("/src/assets/inter.woff2");
}

:root {
	font-family: Inter, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #0f0f0f;
	background-color: #f6f6f6;
}

body {
	margin: 10px;
}

.container {
	display: flex;
	gap: 50px;

	> div {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: 0;
	}
}

h1,
h2 {
	margin: 0px;
	margin-bottom: 5px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
}

#username-input,
#message-input {
	width: 100%;
}

input[type="text"] {
	height: 16px;
}

input[type="color"] {
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid black;
	min-width: 22px;
	height: 22px;
	padding: 1px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

button,
input {
	width: min-content;
}

#preview {
	position: relative;
	background-color: #18181b;
	outline: 1px solid black;
	flex-grow: 1;

	#preview-background-container {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		> * {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}
	}
}

#export-button {
	margin-top: 10px;
	float: right;
	padding: 5px 10px;
}

.flex-row {
	display: flex;
	gap: 3px;
	align-items: center;
}

.badge-selector {
	height: 22px;
	width: 22px;
	background-color: #dbdbdb;
}

input[type="range"] {
	max-width: 50%;
}

/* scuffed */
#transparent-colour-picker {
	position: relative;
	display: flex;
	width: 22px;
	height: 22px;

	box-sizing: border-box;
	border: 1px solid black;

	> * {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}

	> input {
		padding: 0px;
		border: 0px;
		width: 20px;
		min-width: 20px;
		height: 20px;
	}
}

.transparent-image {
	background-image: url("/src/assets/transparent.png");
	background-position: center;
	background-size: 22px;
	image-rendering: pixelated;
}

#settings {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
